%hr
.row{:id => "#{dom_id order}"}
  .column
    %p
      = "ID: #{order.id}"
    %p
      = "Created: #{format_date(order.created_at)}"
    %p
      Promotions Codes: 
      = print_promotion_codes(order.promotion_codes)
    %p
      Discount Codes:
      = print_discount_code(order.discount_code)
    %br
    %p
      Total Price: 10.40€

    = button_to 'Complete', order_path(order), method: :patch
  .column
    = render partial: 'pizza_list', locals: { pizza_list: order.pizzas }
  
          
